*__pycache__/
*DS_Store
*.egg-info/
*logs
*tb_logs

assets/*
!assets/*.csv
!assets/*.png
!assets/*.pdf

*tune_results
datasets/dataset/*
datasets/checkpoint/*
# d4rl/
# neorl/
d3rlpy/
# OfflineRL/
decision_transformer/data/*.pkl

rec_env/data/
*/wandb
scripts/wandb.sh
scripts/*.ipynb
scripts/jupyter_exp
scripts/.ipynb*

# ----- GPU43 ---------
utils/exp_util.py
scripts/train_multi_mask.py
