*__pycache__/
*DS_Store
*.egg-info/
*logs
*tb_logs

assets/*
!assets/*.csv
!assets/*.png

*tune_results
datasets/dataset/*
datasets/checkpoint/*
# d4rl/
# neorl/
d3rlpy/
# OfflineRL/
decision_transformer/data/*.pkl

paper/RL_Offline_Delay_Rewards/*
!paper/RL_Offline_Delay_Rewards/*.tex
!paper/RL_Offline_Delay_Rewards/*.bib
!paper/RL_Offline_Delay_Rewards/assets
!paper/RL_Offline_Delay_Rewards/main.pdf

rec_env/data/

*/wandb
